<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django To-Do</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Django To-Do!</h1>
        {% for note in notes%}
        <div>
            <hr>
            <h3>{{note.user}} - {{note.title}}</h3>
            <br>
            <p>{{note.description}}</p> 
            <hr>
        </div>
        {% endfor %}
    </body>
</html>