<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django To-Do</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <h2>Hi {{request.user.username}}</h2>
            <a href="{% url 'user-login' %}">Logout</a>
        {% else %}
            <a href="{% url 'user-login'%}">Login</a>
        {% endif %}
        
        <h1>Django To-Do!</h1>
        {% for note in notes%}
        <div>
            <hr>
            <h3>{{note.user}} - {{note.title}}</h3>
            <br>
            <p>{{note.description}}</p> 
            <form method="POST" name="{{note.id}}" action="">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{note.id}}">
                <input type="submit" value="Delete"/>
            </form>
            <hr>
        </div>
        {% endfor %}

        <a href="{% url 'create-note' %}">New Note</a>
    </body>
</html>